<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".ApprovalReviewActivity"
            android:exported="false" />
        <activity
            android:name=".FarmRunActivity"
            android:exported="false" />
        <activity
            android:name=".SourceLabDiagnosticsActivity"
            android:exported="false" />
        <activity
            android:name=".SourceInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerControlActivity"
            android:exported="false" />
        <activity
            android:name=".LocalizedMainActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerGateActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
